<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Web Chat</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/splidejs/4.1.4/css/splide.min.css">

</head>
<body>
       <header>
           <div class="ui huge menu">
               <div class="item">
                   <i class="comments outline icon"></i>
                   Web Chat
               </div>
               <div class="right menu">
                   <a class="ui item" th:href="@{/logout}">
                       Logout
                   </a>
               </div>
           </div>
       </header>
       <main>
           <div class="ui basic segment">
               <section id="image-carousel" class="splide" aria-label="Beautiful Images">
                   <div class="splide__track">
                       <ul class="splide__list">
                           <li class="splide__slide">
                               <div class="ui huge center aligned header" style="font-size: 4em">
                                   Welcome to Simple Web Chat
                               </div>

                               <div class="ui large center aligned header">Pick Avatar and Nickname</div>

                               <div class="ui centered card" style="margin-bottom:10px">
                                   <div class="image">
                                       <div class="ui placeholder">
                                           <div class="square image"></div>
                                       </div>
                                       <img class="avatarImg" src="">
                                   </div>
                                   <div class="content">
                                       <form id="registerForm">
                                           <a id="shuffle" class="ui fluid teal button">
                                               <i class="sync icon"></i>
                                               Shuffle
                                           </a>
                                           <div class="ui divider"></div>
                                           <div class="ui big fluid input">
                                               <input class="nickname" type="text" th:value="${nickname}" maxlength="20">
                                           </div>
                                           <button id="enterChatBtn" class="ui fluid blue button">
                                               <i class="sign-in icon"></i>
                                               Enter Chat
                                           </button>
                                       </form>
                                   </div>
                               </div>
                           </li>
                           <li class="splide__slide">
                               <div class="ui stackable internally celled grid">

                                   <!-- User Section -->
                                   <div class="five wide column">
                                       <div class="ui centered card">
                                           <div class="image" style="background: transparent">
                                               <img class="avatarImg" src="">
                                           </div>
                                           <div class="content">
                                               <div class="nickname center aligned header"></div>
                                           </div>
                                       </div>
                                       <form id="chatForm">
                                           <div class="ui fluid big input">
                                               <input class="comment" type="text">
                                           </div>
                                           <button id="sendBtn" class="ui fluid blue disabled button">
                                               <i class="paper plane icon"></i>
                                               Send
                                           </button>
                                       </form>
                                       <div class="ui divider"></div>
                                       <button id="leaveChatBtn" class="ui fluid red button">
                                           <i class="sign-out icon"></i>
                                           Leave Chat
                                       </button>
                                   </div>

                                   <!-- User Feed -->
                                   <div class="seven wide column" style="height: 85vh; overflow: overlay">
                                       <div class="ui feed"></div>
                                   </div>

                                   <!-- User List -->
                                   <div class="four wide column" style="height: 85vh; overflow: overlay">
                                       <div class="ui middle aligned divided list"></div>
                                   </div>
                               </div>
                           </li>
                       </ul>
                   </div>
               </section>

           </div>
       </main>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/splidejs/4.1.4/js/splide.min.js"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.js"></script>
       <script src="/app.js"></script>

</body>
</html>